const test = require('ava');

const ::name:: = require('./::name::');

test('::name:: first test case', t => {
  const input = ::input::;
  const expected = ::output::;
  t.is(::name::(input), expected);
});